<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

	<title>SinAPI Documentation</title>
</head>
<body>
	<header class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">SinAPI</a>
		</div>
	</header>

	<main class="container my-5">
        {% block content %}
        
        {% endblock %}
	</main>

	<footer class="bg-light py-3">
		<div class="container">
			<p class="text-muted mb-0">© 2023 SinAPI Documentation</p>
		</div>
	</footer>

	<!-- Optional JavaScript -->
	<!-- Popper.js first, then Bootstrap JS -->
	<script src="https://unpkg.com/@popperjs/core@2.9.3/dist/umd/popper.min.js"
integrity="sha384-AJLPODY7Ug+I/7rxy02SSsL1jzliyym2SyGzskxsAQ0CJgS/APT/b/RR24X3kBO5"
crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>