{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-6">
				<h1 class="mb-4">SinAPI</h1>
				<p class="lead">This api is sin's private api, which is used to connect with vocechat, WeChat official account, etc.</p>
			</div>
			<div class="col-md-6">
				<img class="img-fluid" src="static/logo-teal.png" alt="SinAPI Logo">
			</div>
		</div>

		<hr>

		<section class="my-5">
			<h2 class="mb-4">Getting Started with SinAPI</h2>

			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h5 class="card-title">Installation</h5>
							<p class="card-text">Following guide to clone in link.</p>
							<a href="https://github.com/vvxu/vvxu-vocechat-bot-api" class="btn btn-primary">Get Started</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h5 class="card-title">DataManage</h5>
							<p class="card-text">Manage backend data. </p>
							<a href="https://manage.choe.vip" class="btn btn-primary">Get Started</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h5 class="card-title">Full Documentation</h5>
							<p class="card-text">Api Docs</p>
							<a href="https://api.choe.vip/docs" class="btn btn-primary">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<section class="my-5">
			<h2 class="mb-4">Coming soon...</h2>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-group list-group-flush">
						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> Complete a data background management page.</li>
<!--						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> </li>-->
<!--						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> </li>-->
<!--						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> </li>-->
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-group list-group-flush">
						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> Complete a static function page to show some of my functions written in python.</li>
<!--						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> </li>-->
<!--						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> </li>-->
<!--						<li class="list-group-item bg-transparent"><i class="bi bi-check2-circle text-success me-2"></i> </li>-->
					</ul>
				</div>
			</div>
		</section>

{% endblock %}
